{% extends 'activity/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="card-shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <img src="{{ user.profile.picture.url }}" class="rounded-circle" width="70" height="70"/>
            <h4 class="py-4">{{ profile.name }}
                <span>
                    {% if request.user == profile.user %}
                    <a href="{% url 'profile-update' profile.pk %}"><i class="far fa-edit"></i></a>
                    {% endif %}
                </span>
            </h4>
            {% if profile.email %}
            <h5>{{ profile.email }}</h5>
            {% endif %}
            {% if profile.birth_date %}
            <h5 >{{ profile.birth_date }}</h5>
            {% endif %}
        </div>
    </div>
    {% for post in posts %}
    <div class='row justify-content-center mt-3'>
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <p><strong>{{ post.author}} </strong> {{ post.created_on }}</p>
            <p><strong>{{ post.title }}</strong></p>
            <p><strong>Lokalizacja: {{ post.localization }}</strong></p>
            <p>{{ post.content }}</p>
            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
